.Date {
  grid-column: col-start 1 / col-end 3;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 1.5rem;

  @media only screen and (max-height: 650px) and (min-width: 550px) {
    grid-column: col-start 3 / col-end 4;
    grid-row: 5/6;
    padding-top: 0;
  }
}
