.Sun {
  grid-column: col-start 1 / col-end 3;
  grid-row: 7/8;
  padding: 2rem 0;

  display: flex;
  justify-content: space-evenly;

  @media only screen and (max-height: 650px) and (min-width: 550px) {
    grid-column: col-start 3 / col-end 4;
    grid-row: 4/5;
  }

  &__container {
    display: flex;
    column-gap: 1rem;
    align-items: center;
  }

  &__icon {
    width: 2.5rem;
  }

  &__time {
    font-size: 2rem;
  }
}
